#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.feed-sticky-top {
  margin-top: 265px;
  top: 10rem;
  z-index: 0 !important;
}

@media only screen and (max-width: 576px) {
  .feed-flex {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .feed-sticky-top {
    margin-top: 0 !important;
  }
}



.card {
  padding: 2em;
}